.cats-list-component {
    .cats-list-header {
        text-align: center;
    }
    .btn-ctrl {
        width: 80%;
    }
    .list-wrapper {
        padding: 10px 50px;
        display: flex;
        justify-content: center;
        .list {
            width: 500px;
            list-style: none;
            li {
                border: 0.1rem solid #d1d1d1;
                border-radius: .4rem;
            }
        }
    }
    .find-input-container {
        position: relative;
        .reset-query {
            position: absolute;
            cursor: pointer;
            top: 9px;
            right: 19px;
        }
    }
}
