.cat-component{
    padding: 20px;
    align-items: center;
    justify-content: center;
    .cat-name {
        margin-left: 5px;
    }
    .ctrl-container {
        text-align: right;
        .ctrl-icon{
            padding: 5px;
            cursor: pointer;
            &:hover {
                color: #9b4dca;
            }
        }
    }
}
